[submodule "ilg/stm/stm-xpack"]
	path = ilg/stm/stm-xpack
	url = https://github.com/xpacks/stm.git
[submodule "ilg/arm/arm-cmsis-xpack"]
	path = ilg/arm/arm-cmsis-xpack
	url = https://github.com/xpacks/arm-cmsis.git
[submodule "ilg/yotta/ilg-cortex-m-gcc"]
	path = ilg/yotta/ilg-cortex-m-gcc
	url = https://github.com/xpacks/yotta-cortex-m-gcc.git
[submodule "ilg/xcdl/toolchains-xpack"]
	path = ilg/xcdl/toolchains-xpack
	url = https://github.com/xpacks/toolchains.git
[submodule "ilg/stm/stm32f4-cmsis-xpack"]
	path = ilg/stm/stm32f4-cmsis-xpack
	url = https://github.com/xpacks/stm32f4-cmsis.git
[submodule "ilg/stm/stm32f7-cmsis-xpack"]
	path = ilg/stm/stm32f7-cmsis-xpack
	url = https://github.com/xpacks/stm32f7-cmsis.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/xpacks/scripts.git
[submodule "ilg/stm/stm32f7-hal-xpack"]
	path = ilg/stm/stm32f7-hal-xpack
	url = https://github.com/xpacks/stm32f7-hal.git
[submodule "ilg/stm/stm32f4-hal-xpack"]
	path = ilg/stm/stm32f4-hal-xpack
	url = https://github.com/xpacks/stm32f4-hal.git
[submodule "index"]
	path = index
	url = https://github.com/xpacks/index.git
[submodule "ilg/portable/posix-io-xpack"]
	path = ilg/portable/posix-io-xpack
	url = https://github.com/micro-os-plus/posix-io.git
[submodule "ilg/portable/posix-drivers-xpack"]
	path = ilg/portable/posix-drivers-xpack
	url = https://github.com/micro-os-plus/posix-drivers.git
[submodule "ilg/portable/chan-fatfs-xpack"]
	path = ilg/portable/chan-fatfs-xpack
	url = https://github.com/xpacks/chan-fatfs.git
[submodule "ilg/portable/lwip-xpack"]
	path = ilg/portable/lwip-xpack
	url = https://github.com/xpacks/lwip.git
[submodule "ilg/portable/newlib-xpack"]
	path = ilg/portable/newlib-xpack
	url = https://github.com/micro-os-plus/newlib.git
[submodule "ilg/synthetic/posix-arch-xpack"]
	path = ilg/synthetic/posix-arch-xpack
	url = https://github.com/micro-os-plus/posix-arch.git
[submodule "ilg/portable/usb-xpack"]
	path = ilg/portable/usb-xpack
	url = https://github.com/micro-os-plus/usb.git
[submodule "ilg/portable/freertos-xpack"]
	path = ilg/portable/freertos-xpack
	url = https://github.com/xpacks/freertos.git
[submodule "ilg/arm/cmsis-plus-xpack"]
	path = ilg/arm/cmsis-plus-xpack
	url = https://github.com/micro-os-plus/cmsis-plus.git
[submodule "ilg/portable/micro-os-plus-xpack"]
	path = ilg/portable/micro-os-plus-xpack
	url = https://github.com/micro-os-plus/micro-os-plus-iii.git
[submodule "ilg/arm/arm-cmsis-rtos-validator-xpack"]
	path = ilg/arm/arm-cmsis-rtos-validator-xpack
	url = https://github.com/xpacks/arm-cmsis-rtos-validator.git
